<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers</title>

    <link rel="stylesheet" href="/styles/globalStyles.css" />
    <link rel="stylesheet" href="/styles/managerStyle.css" />
    <link rel="stylesheet" href="/styles/orders.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    

    <%- include('partials/navbar.ejs') %>


    <div class="panel d-flex-center">
        <h1>Hello admin, <%- user[0].username %></h1>
        <div class="box d-flex-center" style="flex-wrap: wrap;">

            <% for( let i = 0; i < managers.length; i++ ) { %>
            
                <div class="orders d-flex-center">
                    <p>Manager No. <%= [i+1] %></p>
                    <h2>Manager Name : <%= managers[i].username %></h2> 
                    <h2>Manager Name : <%= managers[i].email %></h2> 
                    
                    <!-- <a href='https://mail.google.com/mail/?view=cm&fs=1&to=<%= managers[i].email %>&cc=someone@ola.example&bcc=someone.else@example.com&su=SUBJECT&body=BODY' target="_blank">Mail Him</a> -->
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=<%= managers[i].email %>" target="_blank">Mail Him</a>

                    <!-- <a href='/event/<%= managers[i].e_id %>'>Event Booked for:</a> -->
                </div>
                <% } %>
        </div>
    </div>
    </body>
</html> 